//Breakpoints
$hobbit: 320px;
$dwarf: 576px;
$man: 768px;
$wizard: 992px;
$elf: 1200px;
$valar: 1400px;

//Colors
$main: #ffe800;
$white: #ffffff;
$black: #000000;
$navy: #14213d;
$grey: #3e3e3e;
$error: #d60202;

//Gradients
$g1: linear-gradient(36deg, rgba(2,0,36,1) 0%, rgba(20,33,61,1) 15%, rgba(0,81,255,1) 100%);

//Border
$b1: 1px solid $white;
$b2: 1px solid rgba($white, .4);
$b3: 1px solid rgba($white, .3);

//BoxShadow
$bs1: 5px 1px 24px -7px rgba(66, 68, 90, 1);
$bs2: 3px 3px 3px rgba(0, 0, 0, 0.089);

