//Breakpoints
$hobbit: 320px;
$dwarf: 576px;
$man: 768px;
$wizard: 992px;
$elf: 1200px;
$valar: 1400px;

//Colors
$main: #ffc800;
$white: #ffffff;
$black: #000000;
$error: #d60202;

//Border
$b: 1px solid $white;

//BoxShadow
$bs: 5px 1px 24px -7px rgba(66, 68, 90, 1);

