@use '../variables';

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: variables.$main;

    &_text {
        text-align: center;
    }
}