@use '../variables';

html {
    font-family: Poppins;
    color: variables.$grey;
    background: variables.$white;
    height: 100%;
}

body {
    margin: 0;
}

.container {
    max-width: variables.$elf;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}