@use '../variables';

* {
    font-family: Poppins;
    color: variables.$white;
    background-color: variables.$black;
}

.container {
    max-width: variables.$valar;
    margin-left: auto;
    margin-right: auto;
}