@use '../variables';

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 50px;
        color: variables.$navy;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    
        &:hover {
            background-color: variables.$main;
        }
    }

    .button {
        &--prev {
            @extend button;
        
            &::before {
                content: url(/public/assets/icons/icon-arrow.svg);
                display: inline-block;
                width: 15px;
                height: auto;
                margin-right: 10px;
                transform: rotateZ(180deg);
            }
        }
    }
}